/* Header */

/* Логотип в шапке */

.logo {
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;

  color: var(--logo-color);

  font-family: 'Raleway', sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: var(--accent-color);
}

/* Оформление нав. ссылок в шапке */

.header-list-link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  text-decoration: none;
}

.header-list-link:hover {
  color: var(--accent-color);
}

.header-list-link:focus {
  color: var(--accent-color);
}

.header-list .header-list-link.current {
  color: var(--accent-color);
}

/* Оформление ссылок email и tel в шапке */

.contacts-link {
  color: var(--text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  text-decoration: none;
}

.contacts-link:hover {
  color: var(--accent-color);
}

.contacts-link:focus {
  color: var(--accent-color);
}

/* Геометрия и позиционирование Header */

/* Размещает в одну строку нав. ссылки */
/* Размещает в одну строку ссылки email и tel */

.header-list,
.contacts {
  display: flex;
}

/* Размещает в одну строку лого и нав. ссылки */

.header-nav {
  display: flex;
  align-items: center;
}

/* Размещает в одну строку навигацию и контакты */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Добавляет отступы между нав. ссылками и между ссылками контактов. 
Отступ только для тех элементов, перед которыми есть хоть один сосед */

.header-list .item + .item {
  margin-left: 50px;
}

.contacts .item + .item {
  margin-left: 50px;
}

/* Альтернативные варианты создания отступов */

/* .header-list li:not(:last-child) {
  margin-right: 50px;
} */

/* .header-list li:last-child {
  margin-right: 0;
} */

/* Герой */

.hero {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
  width: 1600px;
  min-height: 600px;

  text-align: center;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding-top: 200px;

  width: 696px;

  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-transform: uppercase;
}

.hero-link {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;

  color: #fff;
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
}

/* Особенности */

/* Стили текста и заголовков */

.features-item-title {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

.features-item-text {
  color: var(--text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Размещает блоки в строку. Компенсационные отступы */

.features-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 94px;
}

/* Размещает блоки по 4 в строке. Добавляет отступы между ними */

.features-list > .features-list-item {
  flex-basis: calc(100% / 4 - 30px);

  margin-left: 30px;
  margin-top: 30px;
}

/* Задачи */

.issues-title {
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  text-align: center;
}

/* Размещает блоки в строку. Компенсационные отступы */

.issues-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 94px;
}

/* Размещает блоки по 3 в строке. Добавляет отступы между ними */

.issues-list > .issues-item {
  flex-basis: calc(100% / 3 - 30px);

  margin-left: 30px;
  margin-top: 30px;
}

/* Команда */

.team-title {
  margin-bottom: 50px;
  padding-top: 94px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  text-align: center;
}

.team-list-item img {
  margin-bottom: 30px;
}

.team-item-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
}

.team-item-text {
  padding-bottom: 30px;

  color: var(--text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: 94px;
}

.team-list > .team-list-item {
  flex-basis: calc(100% / 4 - 30px);

  margin-left: 30px;
  margin-top: 30px;
}

.team-card-thumb {
  background-color: #fff;
}

/* Подвал */

.footer-logo {
  display: block;
  padding-top: 50px;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  text-decoration: none;
}

.footer-address-link {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.footer-email,
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--mailtel-logo-footer);
}

.footer-email {
  display: block;
  margin-bottom: 9px;
}

.footer-address-link {
  display: block;
  margin-bottom: 9px;
}

/* Портфолио */

.buttons {
  margin-top: 94px;
  margin-bottom: 50px;
}

.portfolio-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;

  color: var(--title-text-color);
  background-color: var(--additional-background-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  border: none;
  border-radius: 4px;
}

.portfolio-button:hover {
  color: #fff;
  background-color: var(--accent-color);
}

.portfolio-button:focus {
  color: #fff;
  background-color: var(--additional-background-color);
}

.portfolio-button-list {
  display: flex;
  justify-content: center;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 94px;
}

.portfolio-list-item {
  flex-basis: calc(100% / 3 - 30px);

  margin-left: 30px;
  margin-top: 30px;

  background-color: #fff;
}

.card-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.portfolio-item-header {
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.portfolio-item-text {
  color: var(--text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/* Скрытый заголовок. Код подсмотрен у А.Репеты */

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
